@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body{
    overflow-x: hidden;
    margin: 0;
    z-index: 1;
}

a{
    text-decoration: none;
    color: #0E2F4B;
}

.img{
    position: absolute;
    left: 10vw;
    top: 2vh;
}

.top-logo-header{

    width: 100vw;
    height: 10vh;
    background-color: #FFFFFF;
    z-index: 3;

}

nav{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #FFF;
    text-decoration: none;
    z-index: 1;
    position: sticky;
    top: -1px;
}

#treking-button-id, #poslugi-button-id, #taruf-button-id, #viddilenia-button-id, #filtelia-button-id, #kariera-button-id, #biznes-button-id{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 375% */
    text-decoration: none;
    margin-left: 11%;
    color: #99A2AA;
}

.bottom-header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 110px;
}

main{
    width: 100vw;
    height: 65vh;
    background-color:#FEC524; ;
}

.orange-main-block{
    flex-direction: column;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    margin-left: 8%;
    background-color: #FEC524;
    width: 50vw;
    height: 30vh;
}

h1{

    display: flex;
    flex-shrink: 0;
    padding: 30px;
    line-height: normal;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight:700;
    color: #FFF;

}

.main-block-p{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #0E2F4B;
    font-size: 16px;
    padding-left: 35px;
    margin-top: -20px;
}

.form1{
    width: 80vw;
    height: 20vh;
    display: flex;


}


.inner-block-in-orange{
    width: 80vw;
    height: 30vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    margin-top: -170px;

}

#main-text-box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.main-input-place{

    margin: 30px 0 50px 47px;
}

#main-text-box{
    border-radius: 10px ;
    border: 1px solid #FFF;
    font-family: 'Rubik', sans-serif;
    width: 37vw;
    height: 10vh;
    padding-left: 30px;
    margin-top: -10px;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);

}

#first-button, #second-button, #third-button, #fourth-button{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
    width: 18vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    text-decoration: none;

}

.buttons-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -0.3vw;
    margin-bottom: 10vh;

}

#first-image-main,#second-image-main ,#third-image-main,#fourth-image-main{
    padding-right: 30px;
}

#first-button-p, #second-button-p, #third-button-p, #fourth-button-p{
    color: #99A2AA;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

.pro-posilku-block{
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 110vh;
    background-color: #FFFFFF;
}

.about-poslugi-block{
    width: 30vw;
    height: 70vh;
    margin-left: 5%;
    margin-bottom: 12%;
    background-color: #FFFFFF;
}

#header-poslugi-block1{
    margin-left: 3%;
    display: flex;
    justify-content: flex-start;
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}

#p-poslugi-block2{
    margin-left: 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: #0E2F4B;
    font-family: 'Open Sans', sans-serif;

}

#p-poslugi-block3{
    margin-left: 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #0E2F4B;
    font-style: normal;

}

.poslugi-types-block1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
}

section{
    width: 33.3vw;
    height: 20vh;
    margin-left: 20px;
}

h4{
    display: flex;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight:700;
    color: #0E2F4B;
    text-decoration: none;

}

#section-poslugi-1, #section-poslugi-2, #section-poslugi-3, #section-poslugi-4, #section-poslugi-5, #section-poslugi-6{
    width: 20vw;
    height: 26vh;
    margin-bottom: 15%;
    line-height: 0.5;
}

#more-button-text1,#more-button-text2,#more-button-text3,#more-button-text4, #more-button-text5, #more-button-text6{
    margin-top: -30px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;



}

.poslugi-types-block2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 65px;
}

.blue-buiznes-block{
    width: 100vw;
    height: 90vh;
    background: #042C4B;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.center-div-block{
    margin-left: 11%;
    width: 70vw;
    height: 45vh;
    background: #042C4B;
    margin-bottom: 5%;
}


h2{
    color: #F8F8F8;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */

}

#center-div-block{
    color: #99A2AA;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    word-spacing: 3px
}

#blues-button{
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;

    text-decoration: none;
}

.blues-button-block{
    text-align: center;
    margin-top: 3vw;
    border-radius: 10px;
    background: #FDC13D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vw;
    height: 12vh;
    transition: background-color 1s;
    margin-bottom: 2vh;

}

.blues-button-block:hover {
    background-color: #e3680e;
}

.height-white-block{
    width: 100vw;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.orange-center-block{
    width: 78vw;
    height: 34vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FDC13D;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-top: -10vh;

}

h3{
    margin-top: 7vh;
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 5vh;
    margin-bottom: 1vh;
}

#orange-center-p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #0E2F4B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 0; /* 187.5% */
}

.more-orange-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1vh; /* 150% */
    width: 64vw;
}

h5{
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}

#financovi-poslugi-h{
    width: 77vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4vh;
}

.center-block-poslugi{
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -22vw;



}

#grosovi-center-block{
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */

}

#miznarodni-center-block{
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */

}

#strahovka-center-block{
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

.third-full-block{
    margin-bottom: 4vh;
}

#perekaz-more-a{

    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 142.857% */
}

#miznar-more-a{
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 142.857% */
}

#strahovka-more-a{
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 142.857% */




}

.blue-index-block{
    width: 100vw;
    height: 85vh;
    background: #042C4B;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inner-index-block{
    margin-left: 20vh   ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 65vh;
    background: #042C4B;
}

#index-block-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #99A2AA;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

form{
    margin-top: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#index-input-block{
    color: #6C757D;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;

}

#index-input-block{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 35vw;
    height: 10vh;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid #FFF;
}

#button-index-id{
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.orange-button-index{
    text-align: center;
    border-radius: 10px;
    background: #FDC13D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 10.5vh;
    margin-left: 1vw;
    /*transition: background-color 1s;*/
}

